#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

.show {
  display: block;
}

.conditional--hidden {
  display: none;
}